<h1>Editing family</h1>

<%= error_messages_for :family %>

<% form_for(@family) do |f| %>
<p><b>Family Number</b><br/>
  <%= @family.id %></p>
<p><b>Last Name</b><br/>
  <%=h @family.last_name %></p>
<p><b>Password</b><br/>
  <%= f.text_field :password %></p>
<p><%= f.submit "Update" %></p>
<% end %>

<%= link_to 'Show', @family %> |
<%= link_to 'Back', families_path %>
