<h1>Listing campaigns</h1>
<%= will_paginate @campaigns %>

<table>
  <tr>
    <td>Class</td> 
    <td>Method</td> 
    <td>Started</td> 
    <td colspan="3">&nbsp;</td>
  </tr>

<% for campaign in @campaigns %>
  <tr>
    <td><%=h campaign.mailer_class %></td> 
    <td><%=h campaign.method_name %></td> 
    <td><%=h campaign.created_at %></td> 
    <td><%= link_to 'Show', campaign %></td>
    <td><%= link_to 'Edit', edit_campaign_path(campaign) %></td>
    <td><%= link_to 'Destroy', campaign, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New campaign', new_campaign_path %>
